asn1crypto==0.24.0
beautifulsoup4==4.7.1
chardet==3.0.4
cryptography==2.6.1
cycler==0.10.0
decorator==4.3.0
distro-info==0.21+deb10u1
entrypoints==0.3
html5lib==1.0.1
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lxml==4.3.2
matplotlib==3.0.2
numexpr==2.6.9
numpy==1.16.2
olefile==0.46
pandas==0.23.3+dfsg
Pillow==5.4.1
py4j==0.10.9
pycrypto==2.6.1
pycurl==7.43.0.2
PyGObject==3.30.4
pyparsing==2.2.0
pyspark==3.0.2
python-apt==1.8.4.3
python-dateutil==2.7.3
pytz==2019.1
pyxdg==0.25
scipy==1.1.0
SecretStorage==2.3.1
SimPy==2.3.1
six==1.12.0
soupsieve==1.8
tables==3.4.4
unattended-upgrades==0.1
webencodings==0.5.1
